rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Koleksi Users: Profil Admin & Kasir
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }

    // Koleksi Invitations: Calon kasir membaca & memperbarui kode undangan, Admin membuat kode
    match /invitations/{inviteId} {
      allow read, write: if true;
    }

    // Koleksi Orders: Transaksi kasir mobile & customer web
    match /orders/{orderId} {
      allow read, write: if true;
    }

    // Koleksi Menus: Master data menu martabak
    match /menus/{menuId} {
      allow read, write: if true;
    }

    // Default: Izinkan akses untuk user yang terautentikasi
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
